* {
    font-family: monospace;
}

body {
    background-color: white;
    text-align: center;
    font-size: 2em;
}

nav {
    font-size: 24px;
}

a {
    color: skyblue;
}
ul {
    list-style: none;
}

.ProjectGroup {
    
}

.ProjectItem {
    border-top: 2px solid black;
}

.NavItem {
    text-decoration: none;
    color: black;
}
.Instructions {
}
.Col {
    vertical-align: top;
    display: inline-block;
    width: 49%;
}
#col-left {
    text-align: right;
}
#col-right {
    text-align: left;
}